{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
"Все публикации"
{% endblock title %}

{% block content %}
    <h1>Все публикации в количестве: {{ news|length }} шт.</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <hr/>
    {% if news %}
        <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью публикации</td>
           </tr>


           {% for post in news %}
           <tr>

               <td>{{ post.title|censor }}</td>
               <td>{{ post.datePost|date:'d M y' }}</td>
               <td>{{ post.textPost|truncatewords:20|censor }}</td>

           </tr>
           {% endfor %}

        </table>
   {% else %}

       <h2>Публикации отсутствуют</h2>
   {% endif %}
{% endblock content %}